body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

    
    background-color: rgb(92, 149, 223);
}

h2 {
    color: yellow;
}

img{
    max-width: 400px;
}

table{
    background-color: whitesmoke;
}

blockquote {
    font-style: italic;
}

.underline{
    text-decoration-line: underline;
}

#header{
    text-align: center;
    color: whitesmoke;
}